<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter Username" name="username">
        <input placeholder="Enter Post Title" name="title">
        <textarea placeholder="Enter Post Content" name="description"></textarea>
        <button type="submit">Submit</button>
    </form>    
</body>
</html>